<div class="sidebar_widget">
<div id="tabs">
<ul class="tabs">
	<li class="active"><a href="#tab1">Related</a></li>
	<li><a href="#tab2">Recent</a></li>
	<li class="last"><a href="#tab3">Tags</a></li>
</ul>
<!-- /# end tab links -->

<div class="tab_container">
<div class="tab_content" id="tab1">
<ul class="recent_posts_list">
	{{ drupal_block('views_block__related_articles_block_1') }}
</ul>
</div>
<!-- end popular posts -->

<div class="tab_content" id="tab2">
<ul class="recent_posts_list">
	{{ drupal_block('views_block__article_archive_2_block_2') }}
</ul>
</div>
<!-- end popular articles -->

<div class="tab_content" id="tab3">
<ul class="tags">
	<li><a href="#">2014</a></li>
	<li><a href="#"><b>Amazing</b></a></li>
	<li><a href="#">Animation</a></li>
	<li><a href="#">Beautiful</a></li>
	<li><a href="#"><b>Cartoon</b></a></li>
	<li><a href="#">Comedy</a></li>
	<li><a href="#"><b>Cool</b></a></li>
	<li><a href="#">Dance</a></li>
	<li><a href="#">Drive</a></li>
	<li><a href="#"><b>Family</b></a></li>
	<li><a href="#"><b>Fantasy</b></a></li>
	<li><a href="#">News</a></li>
	<li><a href="#"><b>Friends</b></a></li>
	<li><a href="#">Funny</a></li>
	<li><a href="#"><b>Games</b></a></li>
	<li><a href="#">Love</a></li>
	<li><a href="#"><b>Music</b></a></li>
	<li><a href="#">Nature</a></li>
	<li><a href="#"><b>Party</b></a></li>
	<li><a href="#">Pictures</a></li>
	<li><a href="#">Sports</a></li>
	<li><a href="#"><b>Best</b></a></li>
	<li><a href="#">Wedding</a></li>
	<li><a href="#">Weight</a></li>
	<li><a href="#"><b>Youtube</b></a></li>
</ul>
</div>
</div>
</div>
</div>
<!-- end section -->