<div class="sidebar_widget">
<div id="tabs">
<ul class="tabs">
	<li class="active"><a href="#tab1">Related</a></li>
	<li><a href="#tab2">Recent</a></li>
</ul>
<!-- /# end tab links -->

<div class="tab_container">
<div class="tab_content" id="tab1">
<ul class="recent_posts_list">
	{{ drupal_block('views_block__related_articles_block_1') }}
</ul>
</div>
<!-- end popular posts -->

<div class="tab_content" id="tab2">
<ul class="recent_posts_list">
	{{ drupal_block('views_block__article_archive_2_block_2') }}
</ul>
</div>
<!-- end popular articles -->

</div>
</div>
</div>
<!-- end section -->