<div class="clearfix"></div>
<!-- Slider
======================================= -->  
  <div class="container_full slidertop">
    <div class="master-slider ms-skin-default" id="masterslider">
      {{ content.field_sliders }}
    </div>
  </div><!-- end slider -->
<div class="clearfix"></div>