<img src="{{ content.field_slide_background_image|field_value }}"/>
{{ content.field_slide_text_area|field_value }}
<div class="ms-layer"
			style="left: 130px; top: 550px;"
			data-type="text"
			data-delay="2500"
			data-ease="easeOutExpo"
			data-duration="900"
			data-effect="scale(1.5,1.6)"
		>
{{ content.field_slide_button_link|field_value }}
</div>